# Vivado Folders
*/backlitLCD.cache/*
*/backlitLCD.runs/impl_1/*
*/backlitLCD.runs/synth_1/*
*/backlitLCD.runs/.jobs/
*/backlitLCD.sdk/SDK/SDK_Export/RemoteSystemsTempFiles
*/backlitLCD.srcs/sourceS_1/bd/system/.Xil/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
